<!-- templates/partials/_header.html -->
{% load static %}

<header>
    <div class="container">
        <div class="logo">
            <img src="{% static 'img/gobierno-edomex.png' %}" alt="Logo Sistema de Verificación Vehicular">
            <h1>Sistema de Verificación Vehicular</h1>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="/">Inicio</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <a href="/login"><button class="btn login-btn">Iniciar sesion</button></a>
        </div>
    </div>
</header>
