{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de usuario</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="{% static 'css/basic.css' %}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Verficentro EDOMEX</a>
            </div>
            <div class="header-right">
                <a href="{% url 'logout' %}" class="btn btn-danger" title="Logout">SALIR <i class="fa fa-exclamation-circle fa-2x"></i></a>
            </div>
        </nav>

        <!-- INCLUIMOS EL MENÚ -->
        {% include 'menu/menu.html' %}

        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12"
                        <h1 class="page-head-line">Panel de usuario</h1>
                        <h1 class="page-subhead-line">Bienvenido, consulte sus citas, multas o el estado de su verificación</h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="main-box mb-red">
                            <a href="#">
                                <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
                                <h5>Citas</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box mb-dull">
                            <a href="#">
                                <i class="fa fa-car fa-5x" aria-hidden="true"></i>
                                <h5>Estado de verificacion</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box mb-pink">
                            <a href="#">
                                <i class="fa fa-dollar fa-5x"></i>
                                <h5>Multas</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer-sec">
        &copy; 2025 GOBIERNO DEL ESTADO DE MÉXICO | Design By: <a href="#">Verificentro</a>
    </div>
</body>
</html>
